<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">City App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menuItems"
      aria-controls="menuItems"
      aria-expanded="false"
      aria-label="Toggle Navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      style="flex-grow: 0; flex-basis: auto"
      id="menuItems"
    >
      <app-search></app-search>
    </div>
  </div>
</nav>
