<div class="container bg-light my-3" ng-cloak>
  <div class="row">
    <div
      *ngFor="let city of cities"
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
    >
      <div class="card m-2">
        <img
          src="{{ city.imageUrl }}"
          class="card-img-top"
          style="height: 200px; width: 100%; object-fit: cover"
          alt="{{ city.name }}"
          (error)="displayDefaultImage($event)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ city.name }}</h5>
          <button type="button" class="btn btn-primary my-1">Edit Info</button>
        </div>
      </div>
    </div>

    <div
      *ngIf="citiesLoaded && cities?.length == 0"
      class="alert alert-secondary col-md-12"
      role="alert"
    >
      No cities found
    </div>
  </div>
</div>
