<div class="container bg-light my-3">
  <div class="row">
    <div class="col-md-9 col-lg-9 col-xs-3 col-sm-3">
      <pagination-controls
        (pageChange)="onTableDataChange($event)"
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
      ></pagination-controls>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 mt-1 mb-2">
      <span class="me-2 ms-2">Page Size</span>
      <select (change)="onTableSizeChange($event)" class="bg-info">
        <option>5</option>
        <option selected="true">10</option>
        <option>20</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div
      *ngFor="
        let city of cities
          | paginate
            : {
                itemsPerPage: perPage,
                currentPage: page,
                totalItems: total
              }
      "
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
    >
      <div class="card m-2">
        <img
          src="{{ city.imageUrl }}"
          class="card-img-top"
          style="height: 200px; width: 100%; object-fit: cover"
          alt="{{ city.name }}"
          (error)="displayDefaultImage($event)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ city.name }}</h5>
          <button type="button" class="btn btn-primary my-1">Edit Info</button>
        </div>
      </div>
    </div>

    <div
      *ngIf="dataLoaded && cities?.length == 0"
      class="alert alert-secondary col-md-12"
      role="alert"
    >
      No cities found
    </div>
  </div>
</div>
